@use "Fonts.module" as *;
@use "Breakpoints.module" as *;

.main {
  height: 92vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
}

.arrowGrid {
  padding: 10px;
  transition: 200ms;
  display: flex;
  align-items: center;
  align-self: stretch;
}

.enabledArrowGrid {
  @extend .arrowGrid;
  cursor: pointer;
  animation: arrowMovement 2s infinite;

  .arrowIcon {
    color: #009bff;
  }
}

.disabledArrowGrid {
  @extend .arrowGrid;
  cursor: not-allowed;

  .arrowIcon {
    color: gray;
  }
}

.arrowGrid:hover {
  animation: unset;
}


.arrowIcon {
  font-size: 50px;
}


.emptyGrid {
  opacity: 0;
  cursor: initial !important;
}

@keyframes arrowMovement {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(10%);
  }
  0% {
    transform: translateX(0%);
  }
}
.mobileButton{
  margin: 5px;
  background-color: #009bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  @extend .silkscreen;
  font-size: 22px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.nextButtonText{
  padding-inline: 5px;
}
.nextButtonIcon{
  font-size: 25px;
}
.mobileButtons{
  display: none;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
@include max-width($md) {
  .main {
    justify-content: center;
    flex-direction: column;
  }
  .arrowGrid {
    display: none;
  }
  .mobileButtons{
    display: flex;
  }
}
